@{
    ViewData["Title"] = "Narocila (staticno)";
}

<div class="card-panel">
    <h1>Narocila (staticno)</h1>
    <p>Staticni primeri za entiteto narocilo.</p>

    <ul>
        <li>Datum: 15.03.2026</li>
        <li>Knjiga: Osnove C#</li>
        <li>Kolicina: 2</li>
        <li>Skupaj: 59.80</li>
    </ul>
</div>
