@{
    ViewData["Title"] = "Uporabniki (staticno)";
}

<div class="card-panel">
    <h1>Uporabniki (staticno)</h1>
    <p>Staticni primeri za entiteto uporabnik.</p>

    <ul>
        <li>Ime: Tina</li>
        <li>Priimek: Zajc</li>
        <li>Datum rojstva: 10.01.2001</li>
        <li>EMSO: 1001001500002</li>
        <li>E-posta: tina.zajc@example.com</li>
    </ul>
</div>
