@model _1_test.Models.User
@{
    ViewData["Title"] = "Podrobnosti uporabnika";
}

<div class="card-panel">
    <h1>Podrobnosti uporabnika</h1>
    @Html.DisplayForModel()

    <div class="form-section">
        <a class="btn btn-outline-secondary" asp-action="Index">Nazaj</a>
    </div>
</div>
