@{
    ViewData["Title"] = "Domov";
}

<div class="card-panel">
    <h1>DSR Knjigarna</h1>
    <p>
        Projekt prikazuje 3 glavne entitete: uporabniki, knjige in narocila.
        Vse strani so povezane z navigacijo, vsebina pa je poravnana obojestransko.
    </p>
    <p class="form-note">
        Tukaj lahko preveris CRUD strani, registracijske obrazce ter uporabo jQuery UI komponent.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card-panel">
            <h2>Uporabniki</h2>
            <p>Pregled, dodajanje, urejanje in brisanje uporabnikov.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-panel">
            <h2>Knjige</h2>
            <p>Seznam knjig, urejanje zalog in cen.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-panel">
            <h2>Narocila</h2>
            <p>Obdelava nakupov in prikaz v accordion pogledu.</p>
        </div>
    </div>
</div>
